<!-- <h2>Product Home</h2>
<nav>
  <a routerLink="/product/home">Homeie</a> | 
  <a routerLink="/product/bags">Bagsie</a>
</nav> -->
<!-- intial - unwanted -->
<!-- <p>product-list works!</p> -->
<!-- for web based content -->
<!-- <box-icon name='user' size='lg'></box-icon> -->

<!-- using css -->
<!-- <i class='bx bx-user bx-lg'></i> -->
<!-- {{products | json}}  this is called pipeing the json file - to see what is inside of this   JUST VERIFYING IF BACKEND IS PASSING THE DATA -->


<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>
    <div class="nav-bar-logo" >   
            LOGO 
    </div>
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div >

<div class="header">
    <h2 class="collection-header">New collection for Spring 2023</h2>
</div>


<div class="btn-container">   <!--button container -->
   <h4 class="btn">Bags</h4>
   <h4 class="btn">Makeup</h4>
   <h4 class="btn">Clothing</h4>
   <h4 class="btn">Accessories</h4>
</div>

<div class="product-list-container">
    <div class="product-list" [routerLink]="['/product/bags']">
        <img class="product-list-img" src="https://ik.imagekit.io/sreevidya/products/bags_300_vKpy1UGw8.png?updatedAt=1738246602082">
        <h5 class="product-list-text">Bags</h5>
    </div>
    <div class="product-list">
        <img class="product-list-img" src="https://ik.imagekit.io/sreevidya/products/makeuppp-removebg-preview.png?updatedAt=1738651621212">
        <h5 class="product-list-text">Makeup</h5>
    </div>
    <div class="product-list">
        <img class="product-list-img" src="https://ik.imagekit.io/sreevidya/products/dress_300_dzbEB-OXo.png?updatedAt=1738246602096">
        <h5 class="product-list-text">Clothing</h5>
    </div>
    <div class="product-list">
        <img class="product-list-img" src="https://ik.imagekit.io/sreevidya/products/watch-removebg-preview(2).png?updatedAt=1738322603190">
        <h5 class="product-list-text">Accessories</h5>
    </div>
</div>

<router-outlet></router-outlet>
