.nav-bar{
  display : flex;
  justify-content: space-between;
  margin: .5rem;  /*here on all four sides since side is not specified*/
}

.collection-header{
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.header{
  /* margin-top: 50px; or*/
  margin-top: 1rem; /*1rem=16px*/
  margin-left: 2.9rem;

}

.banner{
  max-width: 100%;

}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  margin-top:  1rem;
  margin-left: 1rem;
  /* font-weight: 700;.btn-container class does not directly apply styles to the <h4> */
}

.btn {
  font-weight: 700;
  color: rgb(154, 152, 152);
}

.btn:hover{                   /*what happens when we hover*/
  color:black;
  cursor: pointer;
}

.product-list-img{
  width: 140px;
  margin: 0 auto;
}

.product-list{
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 180px;
  background-color: rgb(230, 229, 229); 
  justify-content: center;
  margin: .5rem;
}

.product-list-text{
  margin: 0 auto;
  font-weight: 600;
  font-size: medium;
}

.product-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}