<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>
    <div class="nav-bar-logo" >   
            LOGO 
    </div>
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div >

<div>
    <img class="banner" src="https://ik.imagekit.io/sreevidya/products/Bags/banner-dark_W5uq7Dv5o.jpg?updatedAt=1739355474698">
</div>

<div *ngIf="product">
    <!-- checking if the product is there -->
    <div class="header">
        <h4 class="collection-header">{{product.brands}}</h4>
    </div>



    <div class="product-list-container">
        <div class="product-list">
            <img class="product-img" [src]="product.imgUrl1">
        </div>
        <div class="product-price">
            {{product.price}}
        </div>
        <div class = "product-info">
            {{product.description}}
        </div>
    </div>

</div>
    <!-- <div class="buy-btn-container">
        <button class="buy-btn">
            Buy now
        </button> -->
    <!-- </div> -->
    <div class="paypal-btn">
        <div #paypal></div>
    </div>

