<div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm' ></i>
    </div>
    <div class="nav-bar-logo" >   
            LOGO 
    </div>
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm' ></i>
    </div>
</div >

<div>
    <img class="banner" src="https://ik.imagekit.io/sreevidya/products/Bags/banner-dark_W5uq7Dv5o.jpg?updatedAt=1739355474698">
</div>


<div class="header">
    <h4 class="collection-header">Gucci - GG Marmont matelassé mini bag </h4>
</div>



<div class="product-list-container">
    <div class="product-list">
        <img class="product-img" src="https://ik.imagekit.io/sreevidya/products/Bags/bags_300_vKpy1UGw8.png?updatedAt=1739355474607">
    </div>
    <div class="product-price">
        $2350
    </div>
    <div class = "product-info">
        This Gucci GG Marmont mini leather shoulder bag is designed with a sliding chain strap that can be worn either over the shoulder or across the body.
    </div>
</div>

<div class="buy-btn-container">
    <button class="buy-btn">
        Buy now
    </button>
</div>